#headerContainer {
	padding-top: 100px;
	padding-bottom: 200px;
}

.registerButton {
	margin-bottom: -100px;
}

.transparentBlackContainer {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin-bottom: 50px;
}

.blackStroke {
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.size25 {
	font-size: 25px;
}

.paddingTop20 {
	padding-top: 20px;
}

.lead {
	color: #4c4a4a;
}

.timer-container{
  width: 100%;
  background: transparent;
}
#timer{
  font-size: 20px;
  font-family: Arial, sans-serif; 
  color: #ddd;
}
#timer span{
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.notification {
  margin-bottom: 50px;
  padding: 10px;
  padding-top: 15px;
  border-style: solid;
  border-color: #ffffff;
}
@media only screen and (max-width: 768px){
  #timer{
    font-size: 12px;
  }
  #timer span{
    color: #fff;
    font-size: 30px;
    margin: 0;
  } 
}